<div class="col s12 l3 z-depth-1 side_menu">
    <h4>このサイトについて</h4>
    <p>このサイトはこんなサイトです。こんな記事があります。</p>
</div>
</div>
</div>
</main>
<!--記事本文ページ終了-->
<!--footer開始-->
<footer class="page-footer">
    <div class="container">
        <!--<div class="row">
        <div class="l6 s12">
          <h5>Footer Content</h5>
          <p>You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="l4 offset-l8 s12">
          <h5>Links</h5>
          <ul>
            <li><a href="#!">Link 1</a></li>
            <li><a href="#!">Link 2</a></li>
            <li><a href="#!">Link 3</a></li>
            <li><a href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>-->
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2023 Copyright Mouse soft
        </div>
    </div>
</footer>
<!--footer終了-->
<!-- Compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/js/materialize.min.js"></script>
<!--初期化コード-->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var options = {};
        var instances = M.Sidenav.init(elems, options);
    });
</script>
</body>

</html>