<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.0.3-alpha/dist/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<!--main.css読み込み-->
<link rel="stylesheet" href="./templates/style/main.css" type="text/css">

<body>
    <!--nav開始-->
    <div class="navbar-fixed">
        <nav class="nav-extended" style="background-color:#13b6bf;">
            <div class="nav-wrapper"> <a href="#" class="logo">Mouse soft</a> <a href="#" data-target="mobile-demo"
                    class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/index.html">トップページ</a></li>
                    <li><a href="/about.html">このサイトについて</a></li>
                    <li><a href="/service.html">提供中のサービス</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/index.html"><i class="material-icons">home</i>トップページ</a></li>
        <li><a href="/about.html"><i class="material-icons">info</i>このサイトについて</a></li>
        <li><a href="/service.html"><i class="material-icons">attach_money</i>提供中のサービス</a></li>
    </ul>
    <!--nav終了-->
    <!--記事本文ページ開始-->
    <main>
        <div class="container">
            <div class="row">